fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
alembic
python-jose[cryptography]
python-multipart
cloudinary
python-dotenv
httpx
gunicorn
supabase
bcrypt
prometheus-fastapi-instrumentator
langchain
langchain-groq
langchain-community
langchain-core
chromadb
sentence-transformers