fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
python-jose[cryptography]
python-multipart
cloudinary
python-dotenv
httpx2
gunicorn
bcrypt
prometheus-fastapi-instrumentator==6.1.0
langchain
langchain-core
boto3
langchain-ollama
requests
pytest
pytest-asyncio
tenacity>=9.0.0
python-json-logger>=2.0.7
fastapi==0.111.0
starlette==0.37.2
slowapi==0.1.9