fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
alembic
python-jose[cryptography]
python-multipart
cloudinary
python-dotenv
httpx2
gunicorn
supabase
bcrypt
prometheus-fastapi-instrumentator
langchain
langchain-groq
langchain-community
langchain-core
boto3
langchain-google-genai
google-generativeai
requests
pytest
pytest-asyncio
